img{
    max-height: 300px;
    max-width: 300px;
}

a{
   
    font-size: 20px;
    text-indent: 25px;
}
p{
    width: 300px;
    height: 250px;
}
#container{
    width: 1000px;
    height: 500px
}

#link1{
    width: 330px;
    height: 250px;
    float: left
}
#link2{
    width: 330px;
    height: 250px;
    
    float: left
}
#link3{
    width: 330px;
    height: 250px;
    float: right
    
}
#link4{
    width: 330px;
    height: 250px; 
    float: right
}
#link5{
    width: 330px;
    height: 250px;
    float: left
}
#link6{
    width: 330px;
    height: 250px;
    float: left
    
}
